.lang_selector > select
{
    padding: 2pt;
    color: red;
    font-size: 100%;
    width: 100%;
    height: 100%;
    border: 0px solid;
    border-radius: 1px;
    outline: 0px solid;
}

.lang_hide
{
    display: none !important;
}
